<div class="container">
	<div class="row">
		<div class="span12">
			<h1>New Token Impact</h1>
		</div>
	</div>
	
	<%= render 'form' %> 
	
	<div class="row">
		<div class="span12"><%= link_to 'Back to Admin', '/admin', :class => 'btn btn-small btn-primary' %></div>
	</div>
</div>

